# Ignore all Python virtual environment folders (common names)
venv/
*/venv/
**/venv/

# Ignore environment-related directories created by tools
.env/
.venv/
*/.venv/
**/.venv/

# Ignore claude
.claude/
*/.claude/
**/.claude/

# Ignore dataset
coco_data/
coco_subset/

# Exclude Weights
pose-estimation/HRNet/hrnet_weights/*
instance-segmentation/yolov8/*.pt

# Ignore the README file specifically in pose-estimation/hrnet
pose-estimation/HRNet/README
pose-estimation/HRNet/README.md

# Blender autosave backups
*.blend1

# (Optional but recommended) Ignore Python cache and build artifacts
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Ignore generated outputs
stable-diffusion/outputs/
tools/ComfyUI/output/
MultiPose/tools/ComfyUI/

# Output
output/
*/output/
**/Renders/*
exp_output/
*/exp_output/
*/mlruns/
*/meta/
**/input_videos/
**/output_videos/

# models
*/pretrained_weights/
pose_guider*
yolox*
*/configs/

# assets
*/assets/
DataGen/Assets/
*.db

# Ethans additions
*.safetensors
**/marvels_dungeons_diffusers
*.pt
*.png
*.jpg
*.mp4