# Ignore all Python virtual environment folders (common names)
venv/
*/venv/
**/venv/

# Ignore environment-related directories created by tools
.env/
.venv/
*/.venv/
**/.venv/

# Ignore claude
.claude/
*/.claude/
**/.claude/

# Ignore dataset
coco_data/
coco_subset/

# Exclude Weights
pose-estimation/HRNet/hrnet_weights/*
instance-segmentation/yolov8/*.pt

# Ignore the README file specifically in pose-estimation/hrnet
pose-estimation/HRNet/README
pose-estimation/HRNet/README.md

# (Optional but recommended) Ignore Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
